*{
  box-sizing: border-box;
  margin: 0;
}
body{
	background:url(Img/Background/background_Main_Papel.png) repeat-x fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  /* background-color: #f7f7f7; */
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
}
input, textarea{
  border: solid 1px #00000000;
  border-radius: 5px;
}

h1, h2, h3, h4, h5, h6{
  font-family: "PT Sans", sans-serif, arial !important;
}


/* Scrollbars */
body::-webkit-scrollbar {
	width: 5px;
	overflow: visible;
	background: #ffffff;
}
body::-webkit-scrollbar-track {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
body::-webkit-scrollbar-thumb {
	border-radius: 1px;
	background-color: #666666;
	-webkit-box-shadow: none;
	box-shadow: none;
  border-left: solid 1px #ffffff;
}
body::-webkit-scrollbar-thumb:hover{
	background-color: #333333;
}


/* HEADER */
.conteudoTopo{
  width: 100vw;
  margin: 0 auto;
  padding: 10px 25px;
	background:url(Img/Background/Background_Header_Laranja_Claro_Escuro.png);
  /* background-color: #FF7514; */
  background-size: cover;
  background-position: center;
}
.nomeTopo{
  font-size: 32px;
  text-align: center;
  padding: 6px 0 6px 0;
  font-weight: bolder;
}


.validacoes{
  width: 50vw;
  height: calc(100vh - 109px);
  margin: 20px auto;
  padding: 15px 10px;
  display: flex;
  border-radius: 15px;
}

.validadores{
  margin: auto;
  font-size: 20px;
  background-color: #0000005b;
  border-radius: 10px;
  padding: 25px;
}
.validador{
  margin: auto;
  padding: 15px 5px;
  display: flex;
}
.nome{
  padding-right: 5px;
  color: #ffffff;
  margin: auto;
}
.matricula{
  font-size: 18px;
  text-align: center;
  background-color: #dcdcdc;
  padding: 5px;
}
.buscar{
  font-weight: bold;
  margin: auto;
  background-color: #EF7D00;
  color: #ffffff;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  font-size: 17px;
  cursor: pointer;
}
.buscar:hover{
  background-color: #EA5A33;
}



.disciplinas{
  width: 50vw;
  margin: auto;
  padding: 15px 10px;
  display: flex;
}
.divTabela{  
  margin: 10px auto;
  padding: 4px;
}
.tabela{
  width: 100%;
  height: auto;
  margin: auto;
}
.tabela:nth-child(2), .tabela:nth-child(3){
  padding-top: 15px;
}
tr th{
  color: #ffffff;
  border-radius: 1px;
  padding: 7px 10px;
  font-size: 17px;
}
tr td{
  color: #000000;
  padding: 5px 10px;
  font-size: 15px;
}
.descricaoCodigo, .descricaoProvaRegular, .descricaoEncontro, .descricaoAvaliacao{
  text-align: center;
}

.displayNone{
  display: none;
}

.par{
  background-color: #F0F0F0;
}
.impar{
  background-color: #E0E0E0;
}

.verde{
  background-color: #81B184;
}

.vermelho{
  background-color: #DF7C66;
}
.azul{
  background-color: #668CA9;
}
.laranja{
  background-color: #F5B166;
}

.divVoltar{
  display: flex;
  padding: 0px 0px 10px 0px;
}
.campoVoltar{
  display: flex;
  margin: auto;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #EF7D00;
  font-weight: bolder;
  color: #ffffff;
  cursor: pointer;
}
.campoVoltar:hover{
  background-color: #EA5A33;
}


.displayNone{
  display: none;
}
.nomeVoltar{
  margin: auto 0px;
}


@media only screen and (max-width: 915px){
  .widthGeral{
    width: 800px;
  }
  #div1, #div3{
    overflow: scroll;
    width: 100%;
  }
}
@media only screen and (max-width: 815px){
  #div1, #div3{
    overflow: scroll;
    width: 100%;
  }
}